<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <GameDir>C:\Path\To\A Dance of Fire and Ice</GameDir>
    <DeployToGame>false</DeployToGame>
    <DeployModDir>$(GameDir)\Mods\Overlayer</DeployModDir>
    <Configuration>Release</Configuration>
  </PropertyGroup>
</Project>
